/* Reset rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    max-width: 1024px;
    margin: auto;    
}

.d-flex{
    display: flex;
}

.debug *{
    border: dotted black 1px;
}
.debug section{
    height: 830px;
}




*{
    font-family: "Roboto", sans-serif;
}

:root{
    --dro-btn: #0061fe;
    --dro-hero: #b4d0e6;
    --dro-foot: #000000;
}



/* Utilities */

li{
    list-style-type: none;
    text-align: center;

}

a{
    text-decoration: none;
    text-align: center;
    color: black;
}
 
/*  <-------- Navbar Properties --------> */
header{
    padding: 1rem;
}

nav{
    align-items: center;
    justify-content: space-between;
}

.links-left, .links-right{
    padding:.5rem;
}

.enter{
    background-color: var(--dro-btn) ;
    color: white;
    padding: 0.2rem;
}

/* <------------- Main Section Properties-----------> */
#hero{
    background-color: var(--dro-hero);
    height: 830px;
    justify-content: center;

}

h1{
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    width: 580px;
    height: 150px;
}

.card-left{
    display:flex;
    background-color: gray;
    height: 300px;
}

.card-right img{

    width: 300px;
    
}
p{
    width: 350px;
    height: 200px;
}

.center{
    align-items: center;
}
/* End of hero section */