.debug * {
    border: dotted black 1px;
}


.debug .left-40,
.debug .right-60 {
    min-height: 300px;
}

.debug h2 {
    background-color: #0061fe;
    height: 40px;
}

.debug span {
    background-color: aqua;
    height: 10px;
    width: 100px;
}

.debug .col-30 {
    background-color: #0061fe;
    min-height: 250px;

}

.debug .business {
    min-width: 300px;
    min-height: 900px;
    background-color: chartreuse;
}

.debug .card {
    height: 450px;
    background-color: blueviolet;
}

.debug .fullcard {
    background-color: aqua;
    height: 250px;
    width: 1000px;
}

.debug .partners-cont{
    background-color: darkcyan;
}

.debug .twopeople{
    width: 100px;
}
.debug h4{
    height: 40px;
    width: 100px;
}

.debug button{
    height: 10px;
    width: 30px;
    background-color: black;
}

.debug .enterprise{
    height: 150px;
    background-color: aqua;
}
.debug #twopeople{
    width: 50%;
    height: 200px;
}

.debug .team-500{
    height: 200px;
    background-color: #b4d0e6;
}

.debug .foot-tlt{
    width: 170px;
    background-color: cyan;
}
.debug .languages{
    width: 100px;
    background-color: #0061fe;
}



/* Reset rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1024px;
    margin: auto;
}

.container-small {
    width: 60%;
    max-width: 900px;
    margin: auto;
}

.d-flex {
    display: flex;
}

* {
    font-family: "Roboto", sans-serif;
}

:root {
    --dro-btn: #0061fe;
    --dro-hero: #b4d0e6;
    --dro-foot: #000000;
}



/* Utilities */

li {
    list-style-type: none;
    text-align: center;

}

a {
    text-decoration: none;
    text-align: center;
    color: black;
}



/*  <-------- Navbar Properties --------> */
header {
    padding: 1rem;
}

nav {
    align-items: center;
    justify-content: space-between;
}

.links-left,
.links-right {
    padding: .5rem;
}

.enter {
    background-color: var(--dro-btn);
    color: white;
    padding: 0.2rem;
}

/* <------------- Main Section Properties-----------> */
#hero {
    background-color: var(--dro-hero);
    height: 830px;
    justify-content: center;

}

h1 {
    font-size: 3rem;
}

h2 {}

.img-hero {
    height: 200px;
    width: 200px;

}

p {
    max-width: 50%;
    height: 150px;
}

/* End of hero section */

.two-section {
    display: flex;
}

.left-40 {
    width: 40%;
}

.right-60 {
    width: 60%;
}


.business{
    width: 100%;
    justify-content: center;
}
.gap{
    gap: 1rem;
}

.col-30 {
    direction: column;
    width: calc((100% - 2rem) / 3);
}

.card {

}

.full-card {
    display: inline-block;

}

.enterprise{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.wrap{
    flex-wrap: wrap;
}

/* <--------------Enf of main section--------------------> */

/* Footer -------------------> */
footer{
    justify-content: space-between;
}

.languages{
    
}