/* Reset rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    max-width: 1024px;
    margin: auto;    
}

.d-flex{
    display: flex;
}

.debug *{
    border: dotted black 1px;
}
.debug section{
    height: 830px;
}




*{
    font-family: "Roboto", sans-serif;
}

:root{
    --dro-btn: #0061fe;
    --dro-hero: #b4d0e6;
    --dro-foot: #000000;
}



/* Utilities */

li{
    list-style-type: none
}

a{
    text-decoration: none;
    color: black;
}
 
/*  <-------- Navbar Properties --------> */
header{
    padding: 1rem;
}



.links-left, .links-right{
    gap:.5rem;
}

.enter{
    background-color: var(--dro-btn) ;
    color: white;
    padding: 0.2rem;
}

/* <------------- Main Section Properties-----------> */
#hero{
    background-color: var(--dro-hero);
    height: 830px;
    justify-content: center;

}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3%rem;
    height: 100px;
}

.card-left{
    background-color: gray;
    height: 300px;
}

.card-right img{

    width: 300px;
    
}
p{
    width: 100px;
    height: 200px;
}
